name: Build and Release
on: [push]
jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    steps:
      - name: check out code
        uses: actions/checkout@v2

      - name: create artifacts
        uses: james-pickett/godot-build-action@master
        with:
          build_file_name: godot-hello-cicd
          android_debug_username: ${{ secrets.ANDROID_DEBUG_USERNAME }}
          android_debug_password: ${{ secrets.ANDROID_DEBUG_PASSWORD }}

      - name: upload android
        uses: actions/upload-artifact@v1
        with:
          name: godot-hello-cicd-android
          path: ./build/android/

      - name: upload linux
        uses: actions/upload-artifact@v1
        with:
          name: godot-hello-cicd-linux
          path: ./build/linux/

      - name: upload windows
        uses: actions/upload-artifact@v1
        with:
          name: godot-hello-cicd-windows
          path: ./build/windows/

      - name: upload mac osx
        uses: actions/upload-artifact@v1
        with:
          name: godot-hello-cicd-osx
          path: ./build/mac/

      - name: upload html5
        uses: actions/upload-artifact@v1
        with:
          name: godot-hello-cicd-web
          path: ./build/html5/

      - name: build release tag from branch name
        run: echo ::set-output name=tag::${GITHUB_REF##*/}-${GITHUB_SHA}
        id: tag

      - name: create release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # This token is provided by Actions, you do not need to create your own token
        with:
          tag_name: ${{ steps.tag.outputs.tag }}
          release_name: Release ${{ steps.tag.outputs.tag }}
          draft: false
          prerelease: true

      - name: upload android release asset
        id: upload-release-asset-android
        uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          # This pulls from the CREATE RELEASE step above, referencing it's ID to get its outputs object, which include a `upload_url`.
          # See this blog post for more info: https://jasonet.co/posts/new-features-of-github-actions/#passing-data-to-future-steps
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./build/android/godot-hello-cicd.apk
          asset_name: godot-hello-cicd-android.apk
          asset_content_type: application/vnd.android.package-archive

      - name: Send mail
        uses: dawidd6/action-send-mail@master
        with:
          server_address: smtp.gmail.com
          server_port: 465
          username: ${{ secrets.MAIL_USERNAME }}
          password: ${{ secrets.MAIL_PASSWORD }}
          subject: ${{ github.repository }} Release
          # Literal body:
          body: |
            Android Debug
            ${{ steps.upload-release-asset-android.outputs.upload_url }}
          to: ${{secrets.RELEASE_EMAIL_RECIPIENTS}}
          from: ${{ secrets.MAIL_USERNAME }}
          # Optional content type:
          content_type: text/html
