name: Build Project
on: [push]
jobs:
  build-godot:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          path: ./project
      - uses: james-pickett/godot-build-action@master
        with:
          build-file-name: godot-hello-cicd
          android_debug_username: ${{ secrets.ANDROID_DEBUG_USERNAME }}
          android_debug_password: ${{ secrets.ANDROID_DEBUG_PASSWORD }}
      - uses: actions/upload-artifact@v1
        with:
          name: godot-hello-cicd.apk
          path: /builds/android/
