name: Build Project
on: [push]
jobs:
  build-godot:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: james-pickett/godot-build-action@master
        with:
          build_file_name: godot-hello-cicd
          android_debug_username: ${{ secrets.ANDROID_DEBUG_USERNAME }}
          android_debug_password: ${{ secrets.ANDROID_DEBUG_PASSWORD }}

      - name: upload android
        uses: actions/upload-artifact@v1
        with:
          name: godot-hello-cicd.apk
          path: ./build/android/godot-hello-cicd.apk

      - name: upload linux
        uses: actions/upload-artifact@v1
        with:
          name: godot-hello-cicd-linux
          path: ./build/linux/godot-hello-cicd

      - name: upload windows
        uses: actions/upload-artifact@v1
        with:
          name: godot-hello-cicd.exe
          path: ./build/windows/godot-hello-cicd.exe

      - name: upload mac osx
        uses: actions/upload-artifact@v1
        with:
          name: godot-hello-cicd-osx
          path: ./build/mac/godot-hello-cicd

      - name: upload html5
        uses: actions/upload-artifact@v1
        with:
          name: index.html
          path: ./build/html5/index.html
