name: Build Project
on: [push]
jobs:
  build-godot:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: james-pickett/godot-build-action@master
        with:
          build_file_name: godot-hello-cicd
          android_debug_username: ${{ secrets.ANDROID_DEBUG_USERNAME }}
          android_debug_password: ${{ secrets.ANDROID_DEBUG_PASSWORD }}

      - name: upload android
        uses: actions/upload-artifact@v1
        with:
          name: godot-hello-cicd-android
          path: ./build/android

      - name: upload linux
        uses: actions/upload-artifact@v1
        with:
          name: godot-hello-cicd-linux
          path: ./build/linux

      - name: upload windows
        uses: actions/upload-artifact@v1
        with:
          name: godot-hello-cicd-windows
          path: ./build/windows

      - name: upload mac osx
        uses: actions/upload-artifact@v1
        with:
          name: godot-hello-cicd-osx
          path: ./build/mac

      - name: upload html5
        uses: actions/upload-artifact@v1
        with:
          name: godot-hello-cicd-web
          path: ./build/html5
