name: Build and Push Container
on: [push]
jobs:
  build-push-container:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: james-pickett/godot-build-action@master
        env:
          PROJECT: godot-hello-cicd
